<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:object="${user}">
  <h3 style="color: red">Информация о пользователе</h3>
  <span th:text="'id:'+${user.getId()}"></span><br>
  <span th:text="'name:'+${user.getUserName()}"></span><br>
  <span th:text="'surname:'+${user.getSurname()}"></span><br>
  <span th:text="'age:'+${user.getAge()}"></span><br>
  <span th:text="'email:'+${user.getEmail()}"></span><br>
  <span th:text="'role:'+${user.getAuthorities()}"></span><br>
  <a th:href="@{/logout}">
    <button>Выйти</button>
  </a>
</div>
</body>
</html>